<% content_for :title, "List of hangman games" %>

<h1>List of games</h1>

<table>
    <tr>
        <th>Game #</th>
        <th>Status</th>
        <th>Lives</th>
        <th>Secret word</th>
    </tr>
    <% @games.each do |game| %>
        <tr>
            <td><%= game.id %></td>
            <td><%= show_status(game) %></td>
            <td><%= pluralize(game.lives, 'life') %></td>
            <td><%= game.secret %></td>
            <td><%= link_to 'Join', game_path(game) %></td>
        </tr>
    <% end %>
</table>

<%= render partial: 'error' %>

<%= link_to 'Create a new game', games_path, method: :post %>
