<h1>New game</h1>

Which players?

    <%= form_for :game, url: games_path do |f| %>
        <% Player.all.each do |player| %>
            <%= check_box_tag :player_ids,
            player.id,
            false, # No player selected by default
            :name => 'game[player_ids][]'
            %>
            <%= player.name %>
        <% end %>

        <%= f.submit 'Create game' %>
    <% end %>
</ul>
<%= link_to 'Back to games', games_path %>
