<h1>New game</h1>

Which players?

    <%= form_for @game do |f| %>
        <% Player.all.each do |player| %>
            <%= check_box_tag :player_ids,
            player.id,
            @game.players.include?(player),
            :name => 'game[player_ids][]'
            %>
            <%= player.name %>
        <% end %>

        <%= f.submit %>
    <% end %>
</ul>
<%= link_to 'Back to games', games_path %>
