<h1>Game #<%= @game.id %></h1>

<p><%= pluralize(@game.lives, 'life') %> remaining</p>

<% if @game.lost? %>
    <p> You've lost the game! The secret word was "<%= @game.secret %>".</p>
<% else %>
    <% @secret_word.each_char do |c| %>
        <%= c %>
    <% end %>
    <%= form_tag(new_game_try_path(@game), method: 'get') do  %>
        <%= text_field_tag :guess %>
        <%= submit_tag "Guess" %>
    <% end %>

    <% if @game.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @game.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>
<% if @game.tries.length > 0 %>
    <p>
        You've already tried <%= @game.tries.chars.join(', ')%>.
    </p>
<% end %>
<%= link_to 'Back to games', games_path %>
