<h1>Game #<%= @game.id %></h1>

<p><%= pluralize(@game.lives, 'life') %> remaining</p>

<% @secret_word.each_char do |c| %>
    <%= c %>
<% end %>

<%= form_for :try, url: edit_try_path(@game), method: :get do |f| %>
    <%= f.text_field :guess %>
    <%= f.submit "Guess" %>
<% end %>
<% if @game.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<p>
    You've already tried <%= @game.tries.chars.join(', ')%>.
</p>
