<h1>Game #<%= @game.id %></h1>

<p><%= image_tag "hang#{7 - @game.lives}" %></p>

<% if @game.lost? %>
    <p>You've lost the game! The secret word was "<%= @game.secret %>".</p>
<% elsif @game.won? %>
    <p>You've won the game! Congrats!</p>
<% else %>
    <h2><%= @game.show_secret_word %></h2>

    <%= form_tag({:action => 'create', :controller => 'tries',
                 :game_id => @game.id},
                 method: 'post') do  %>
        <%= text_field_tag :guess %>
        <%= submit_tag "Guess" %>
    <% end %>

    <% if flash[:notice] %>
        <% flash[:notice].each do |notice| %>
            <%= "#{notice}" %>
        <% end %>
    <% end %>
<% end %>
<% if @game.tries.length > 0 %>
    <p>
        You've already tried <%= @game.tries.chars.join(', ')%>.
    </p>
<% end %>
<%= link_to 'Back to games', games_path %>
